

.back-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
    font-size: 30px;
    color: wheat;
    padding: 10px;
    background: rgba(0,0,0,0.2);
    border-radious: 50%;
  }
  
  .back-to-top-button.visible {
    opacity: 1;
  }
  
