.textcontainer {
  width: 600px !important;
  margin: 0 auto;
  height: 100%;
}
@media screen and (min-width: 375px) {
  .textcontainer {
    width: 375px !important;
    height: 100%;
  }
}
  
