* {
  box-sizing: border-box;
}
.textcontainer {
  width: 600px;
  margin: 0 auto;
  height: 100%;
}
@media screen and (max-width: 375px) {
  .textcontainer {
    width: 375px;
    height: 100%;
  }
  .coverph {
    width: 375px;
    overflow: hidden;
  }
  .text {
    text-align: justify;
  }
  .text p {
    text-align: justify;
    
  }
}
  
